### Author Features Prediction

**Description:**

Classification is probably the most popular task that you would deal with in real life.
Text in the form of blogs, posts, articles, etc. is written every second. It is a challenge to predict the information
about the writer without knowing about him/her.
We are going to create a classifier that predicts multiple features of the author of a given text.
We have designed it as a Multilabel classification problem.

In [1]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

**1. Load the dataset (5 points)**

In [2]:
df = pd.read_csv('C:/Users/Ramyasridar/Downloads/NLP/project/blogtext.csv',nrows=3000)
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [3]:
df.shape

(3000, 7)

In [4]:
df.isnull().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [5]:
df.columns

Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

Inference: The original dataset hold 681284 observations and 7 variables.as the dataset is large we are selecting 3000 rows for further analysis.

**2. Preprocess rows of the “text” column (7.5 points)**

**a. Remove unwanted characters**

**b. Convert text to lowercase**

**c. Remove unwanted spaces**

**d. Remove stopwords**

In [6]:
#!pip install spacy

In [7]:
import spacy
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
import unicodedata

In [8]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ramyasridar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [9]:
from nltk.corpus import stopwords

In [10]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [11]:
df.text = df.text.apply(lambda x: re.sub('[^A-Za-z]+', ' ', x))

In [12]:
df.text = df.text.apply(lambda x: x.lower())

In [13]:
df.text = df.text.apply(lambda x: x.strip())

In [14]:
stopwords = set(stopwords.words('english'))
df.text = df.text.apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))

In [15]:
df.text.head()

0    info found pages mb pdf files wait untill team...
1    team members drewes van der laag urllink mail ...
2    het kader van kernfusie op aarde maak je eigen...
3                                      testing testing
4    thanks yahoo toolbar capture urls popups means...
Name: text, dtype: object

In [16]:
df.text[5]

'interesting conversation dad morning talking koreans put money invariably lot real estate cash cash would include short term investments one year well savings accounts reason real estate makes money lot money seen surveys seoul real estate rising per year long stretches even taking account crisis referred imf crisis although imf bailed korea compare korean corporate bonds fell modestly recovered local stock market represented kospi version dow jones index gone appreciably high points points see urllink link see real estate makes sense back conversation noted real big elite real estate investor billion usd see urllink converter properties dad seemed little flabbergasted heck need million dollars need much retire maybe lot risk take real estate south korean asset example north toots horn louder make move country usd worth cents also denominated imf crisis dropped vis vis usd also make bad investment fall victim scam latest urllink good morning city project toast saw lady tv lost everything comment tears know like go rich person beggar one day one saber rattling north korea weak exchange rate little nest egg could almost wiped government almost zero help unemployed disabled otherwise disenfranchised workers role family important money help family go first thus idea koreans go things investing different one apartment urllink jeonse system supports well see usd apartment rent two systems use korea neither western ones except rare circumstances renter signs year contract deposits half market value usd owner monthly rent paid owner invest korean treasury bills per year monthly rent return end term usd returned renter renter signs year year contract deposits market value property usd plus monthly rent month cases value property increases decreases jeonse need topped partially refunded course using usd save key help foreigners reference better thus buy place turn around rent get like buy another place whatever since mortgages korea kind cash society although home equity lines credit system bit different key course real estate prices keep going'

Inference: the data has been preprocessed from the observation of first five rows.

**3. As we want to make this into a multi-label classification problem, you are required to merge all the label
   columns together, so that we have all the labels together for a particular sentence (7.5 points)**

   **a. Label columns to merge: “gender”, “age”, “topic”, “sign”**
    
   **b. After completing the previous step, there should be only two columns in your data frame i.e. “text” and “labels” as shown in the below image**

In [17]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...

In [18]:
df['labels'] = df.apply(lambda row: [row['gender'],str(row['age']),row['topic'],row['sign']],axis=1)

In [19]:
df.head()

,id,gender,age,topic,sign,date,text,labels
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,"[male, 15, Student, Leo]"
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

Inference: the features 'gender','age','sign','topic' are combined under feature named 'labels' and these columns are excluded for further analysis

In [20]:
df = df[['text','labels']]

In [21]:
df.head()

,text,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

**4. Separate features and labels, and split the data into training and testing (5 points)**

In [22]:
from sklearn.model_selection import train_test_split 

x = df.text.values
y = df.labels.values

X_train,X_test,y_train,y_test = train_test_split(x,y,random_state=10,test_size=0.2)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2400,)
(600,)
(2400,)
(600,)

**5. Vectorize the features (5 points)**

**a. Create a Bag of Words using count vectorizer**

i. Use ngram_range=(1, 2)

ii. Vectorize training and testing features

**b. Print the term-document matrix****

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
toNumeric = CountVectorizer()
toNumeric

CountVectorizer()

In [25]:
# Include 1 and 2-grams
toNumeric = CountVectorizer(ngram_range=(1, 2),binary=True)
toNumeric.fit(X_train)
len(toNumeric.get_feature_names())

180518

In [26]:
toNumeric.get_feature_names()

['aa',
 'aa anger',
 'aa compared',
 'aa nice',
 'aaa',
 'aaa take',
 'aaa travel',
 'aaaaaah',
 'aaaahh',
 'aaagh',
 'aaagh pero',
 'aaarrrggghhhhhhhhgggghhhhhh',
 'aaarrrggghhhhhhhhgggghhhhhh dropped',
 'aal',
 'aal eliminate',
 'aal esseneth',
 'aal lost',
 'aaldering',
 'aaldering urllink',
 'aand',
 'aand jim',
 'aar',
 'aar toy',
 'aarde',
 'aarde maak',
 'aargh',
 'aargh told',
 'aaron',
 'aaron burr',
 'aaron rowand',
 'aba',
 'aba foundation',
 'aba sessions',
 'aba sus',
 'aba therapy',
 'aba well',
 'abandon',
 'abandon days',
 'abandon every',
 'abandon horses',
 'abandon life',
 'abandon may',
 'abandoned',
 'abandoned although',
 'abandoned area',
 'abandoning',
 'abandoning isreal',
 'abandons',
 'abandons hate',
 'abated',
 'abated came',
 'abbreviate',
 'abbreviate fun',
 'abc',
 'abc last',
 'abc nightline',
 'abcnews',
 'abcnews com',
 'abcnews go',
 'abdicate',
 'abdicate overthrown',
 'abdomen',
 'abdomen thighs',
 'abdominal',
 'abdominal area',
 'abercrombie',
 'abercrombie boxers',
 'aberrant',
 'aberrant really',
 'aberration',
 'aberration got',
 'abhor',
 'abhor middle',
 'abiding',
 'abiding christian',
 'abiding pedestrians',
 'abilities',
 'abilities documents',
 'abilities rather',
 'abilities really',
 'ability',
 'ability almost',
 'ability asked',
 'ability believe',
 'ability edit',
 'ability even',
 'ability fire',
 'ability jump',
 'ability keep',
 'ability outrun',
 'ability practice',
 'ability really',
 'ability take',
 'ability walk',
 'abject',
 'abject horror',
 'ablaze',
 'ablaze lot',
 'able',
 'able actually',
 'able add',
 'able answer',
 'able anything',
 'able broaden',
 'able buy',
 'able caddy',
 'able catch',
 'able come',
 'able communicate',
 'able conjure',
 'able control',
 'able convert',
 'able depend',
 'able dont',
 'able drive',
 'able engage',
 'able every',
 'able expensively',
 'able face',
 'able find',
 'able fly',
 'able fully',
 'able fun',
 'able function',
 'able get',
 'able give',
 'able go',
 'able golf',
 'able hang',
 'able hear',
 'able help',
 'able hit',
 'able join',
 'able learn',
 'able least',
 'able leave',
 'able live',
 'able look',
 'able make',
 'able master',
 'able mile',
 'able mix',
 'able occasionally',
 'able operate',
 'able overcome',
 'able post',
 'able prove',
 'able pull',
 'able reach',
 'able read',
 'able recognise',
 'able redefine',
 'able resist',
 'able ride',
 'able said',
 'able say',
 'able separate',
 'able sew',
 'able shim',
 'able show',
 'able sing',
 'able stand',
 'able stick',
 'able stroll',
 'able take',
 'able tell',
 'able thing',
 'able things',
 'able ugh',
 'able update',
 'able urllink',
 'able use',
 'able utilize',
 'able vote',
 'able watch',
 'able withstand',
 'ablity',
 'ablity teleport',
 'abm',
 'abm treaty',
 'abnormal',
 'abnormal screwed',
 'abortion',
 'abortion problem',
 'abortions',
 'abortions already',
 'abortions must',
 'abortions void',
 'abounds',
 'abounds sunshine',
 'abraham',
 'abraham lincoln',
 'abreast',
 'abreast current',
 'abreast going',
 'abreu',
 'abreu phi',
 'abri',
 'abri el',
 'abridged',
 'abridged script',
 'abridging',
 'abridging freedom',
 'abrio',
 'abrio la',
 'abroad',
 'abroad attorney',
 'abroad falls',
 'abroad friends',
 'abroad integrity',
 'abroad position',
 'abroad work',
 'abrupt',
 'abrupt click',
 'abrupt times',
 'abs',
 'abs bland',
 'abs favorite',
 'abs maybe',
 'abs spy',
 'abscess',
 'abscess bank',
 'abscond',
 'abscond need',
 'absence',
 'absence also',
 'absence democratic',
 'absence know',
 'absence spam',
 'absence specific',
 'absent',
 'absent bullies',
 'absent character',
 'absent could',
 'absent show',
 'absentee',
 'absentee votes',
 'absentia',
 'absentia new',
 'absolulty',
 'absolulty past',
 'absolute',
 'absolute applies',
 'absolute fairplay',
 'absolute hoot',
 'absolute last',
 'absolute moxie',
 'absolute opposition',
 'absolute resources',
 'absolutely',
 'absolutely abhor',
 'absolutely agree',
 'absolutely beautiful',
 'absolutely bubbles',
 'absolutely called',
 'absolutely certain',
 'absolutely clue',
 'absolutely confidence',
 'absolutely convinced',
 'absolutely could',
 'absolutely dirty',
 'absolutely disrespectful',
 'absolutely english',
 'absolutely fenomenal',
 'absolutely hate',
 'absolutely hates',
 'absolutely hilarious',
 'absolutely huge',
 'absolutely idea',
 'absolutely immediate',
 'absolutely impossible',
 'absolutely love',
 'absolutely loveable',
 'absolutely necessary',
 'absolutely nice',
 'absolutely nothing',
 'absolutely pissed',
 'absolutely refreshing',
 'absolutely right',
 'absolutely rocked',
 'absolutely service',
 'absolutely splash',
 'absolutely stupid',
 'absolutely ucalled',
 'absolutes',
 'absolutes always',
 'absolutes none',
 'absolutes objective',
 'absolutes seems',
 'absolutes wary',
 'absolution',
 'absolution couldnt',
 'absolution many',
 'absolution others',
 'absolutist',
 'absolutist taste',
 'absolutistic',
 'absolutly',
 'absolutly courage',
 'absolutly crazy',
 'absolutly dont',
 'absolutly nothing',
 'absolutly pointless',
 'absolving',
 'absolving child',
 'absolving parents',
 'absorb',
 'absorb cover',
 'absorbed',
 'absorbed give',
 'absorbed residents',
 'absorbed spookiness',
 'absorbed thoughts',
 'absorbent',
 'absorbent cacophony',
 'absorbing',
 'absorbing panels',
 'absoultly',
 'absoultly love',
 'abstain',
 'abstain go',
 'abstract',
 'abstract art',
 'abstract proposition',
 'abstract true',
 'abstraction',
 'abstraction wonderful',
 'abstractness',
 'abstractness introversion',
 'absurd',
 'absurd explanation',
 'absurd naive',
 'absurdities',
 'absurdities like',
 'abt',
 'abt week',
 'abu',
 'abu gharib',
 'abu musab',
 'abundance',
 'abundance universe',
 'abundant',
 'abundant evidence',
 'aburrici',
 'aburrici nisiquiera',
 'abuse',
 'abuse ioc',
 'abuse know',
 'abused',
 'abused serial',
 'abusing',
 'abusing eight',
 'abusive',
 'abusive childhood',
 'abusive environment',
 'abusive parents',
 'abusive residents',
 'ac',
 'ac later',
 'ac pre',
 'ac unit',
 'ac va',
 'ac weekend',
 'ac wp',
 'aca',
 'aca nos',
 'aca tonces',
 'academia',
 'academia man',
 'academics',
 'academics adaptive',
 'academies',
 'academies family',
 'academy',
 'academy award',
 'academy cannes',
 'academy graduation',
 'accent',
 'accent apply',
 'accent candy',
 'accent courtesy',
 'accent find',
 'accent gaadnaa',
 'accent got',
 'accent knows',
 'accent made',
 'accent sentece',
 'accent speaks',
 'accent still',
 'accent talking',
 'accented',
 'accented etc',
 'accented voice',
 'accents',
 'accents french',
 'accents would',
 'accept',
 'accept application',
 'accept changed',
 'accept choices',
 'accept comes',
 'accept delivery',
 'accept deserve',
 'accept especially',
 'accept everything',
 'accept fact',
 'accept find',
 'accept higher',
 'accept jimi',
 'accept known',
 'accept laughter',
 'accept monumental',
 'accept move',
 'accept reclaim',
 'accept saw',
 'accept script',
 'accept suppose',
 'accept things',
 'accept us',
 'accept wholeheartedly',
 'acceptable',
 'acceptable behavior',
 'acceptable except',
 'acceptable long',
 'acceptable player',
 'acceptable went',
 'acceptable whats',
 'acceptance',
 'acceptance email',
 'acceptance possibility',
 'acceptance things',
 'accepted',
 'accepted broken',
 'accepted chemistry',
 'accepted english',
 'accepted ethical',
 'accepted fiction',
 'accepted knows',
 'accepted long',
 'accepted marriage',
 'accepted never',
 'accepted offer',
 'accepted phd',
 'accepted prime',
 'accepted think',
 'accepting',
 'accepting anything',
 'accepting complements',
 'access',
 'access archives',
 'access blog',
 'access edit',
 'access favorite',
 'access flight',
 'access forum',
 'access get',
 'access iraq',
 'access last',
 'access notes',
 'access pot',
 'access report',
 'access server',
 'access telephones',
 'access vcr',
 'accessibility',
 'accessibility web',
 'accessories',
 'accessories etc',
 'accessories plaid',
 'accf',
 'accf applause',
 'accident',
 'accident always',
 'accident anyways',
 'accident blonde',
 'accident coupla',
 'accident dying',
 'accident east',
 'accident even',
 'accident everything',
 'accident get',
 'accident honest',
 'accident last',
 'accident mistake',
 'accident number',
 'accident physiology',
 'accident tester',
 'accident tree',
 'accident watched',
 'accident way',
 'accidentally',
 'accidentally broke',
 'accidentally caused',
 'accidentally destroy',
 'accidentally hitting',
 'accidentally ironing',
 'accidentally slipped',
 'accidentally willow',
 'accidently',
 'accidently blew',
 'accidently destroyed',
 'accidents',
 'accidents charles',
 'accidents point',
 'accidents tickets',
 'acclimate',
 'acclimate shelter',
 'acclimating',
 'acclimating cyrillic',
 'accolade',
 'accolade give',
 'accolades',
 'accolades jennifer',
 'accomadate',
 'accomadate tattoo',
 'accommodate',
 'accommodate cough',
 'accommodation',
 'accommodation words',
 'accomodate',
 'accomodate false',
 'accomodate pudginess',
 'accompanied',
 'accompanied cheesy',
 'accompanied good',
 'accompanied taylor',
 'accomplices',
 'accomplices defeated',
 'accomplices taking',
 'accomplish',
 'accomplish feat',
 'accomplish grace',
 'accomplish stress',
 'accomplish task',
 'accomplish think',
 'accomplish work',
 'accomplished',
 'accomplished country',
 'accomplished evaluate',
 'accomplished little',
 'accomplished nothing',
 'accomplished reply',
 'accomplished spooning',
 'accomplished track',
 'accomplished truly',
 'accomplished trust',
 'accomplishment',
 'accomplishment following',
 'accomplishment susan',
 'accomplishments',
 'accomplishments exploded',
 'accomplishments let',
 'accomplishments probably',
 'accomplishments provide',
 'accomplishments results',
 'accomplishments skills',
 'accomplishments telling',
 'accomplishments want',
 'accord',
 'accord air',
 'accord going',
 'accord making',
 'according',
 'according amount',
 'according article',
 'according beacon',
 'according beat',
 'according bigger',
 'according black',
 'according camp',
 'according castillion',
 'according cbs',
 'according constitution',
 'according court',
 'according cursory',
 'according dad',
 'according einstein',
 'according electoral',
 'according enemies',
 'according enough',
 'according federal',
 'according friend',
 'according individual',
 'according jeffrey',
 'according joint',
 'according memorandum',
 'according miss',
 'according moore',
 'according one',
 'according phil',
 'according plan',
 'according postal',
 'according publicly',
 'according red',
 'according rolling',
 'according spoilers',
 'according study',
 'according surrounding',
 'according tastes',
 'according time',
 'according urllink',
 'according woman',
 'accordingly',
 'accordingly constitutes',
 'accordingly court',
 'accordingly heck',
 'account',
 'account activated',
 'account almost',
 'account americas',
 'account anyway',
 'account anyways',
 'account block',
 'account brian',
 'account cancelled',
 'account crisis',
 'account days',
 'account dictionary',
 'account drove',
 'account earn',
 'account forwarded',
 'account grand',
 'account jason',
 'account karma',
 'account last',
 'account local',
 'account logon',
 'account make',
 'account means',
 'account need',
 'account nifty',
 'account old',
 'account pic',
 'account referring',
 'account said',
 'account sat',
 'account savings',
 'account send',
 'account though',
 'account time',
 'accountable',
 'accountable distortion',
 'accountable http',
 'accountable wrongful',
 'accountant',
 'accountant also',
 'accountant paper',
 'accountant son',
 'accountant taxpayer',
 'accountants',
 'accountants tidying',
 'accounted',
 'accounted grieve',
 'accounted taxes',
 'accounted thanks',
 'accounting',
 'accounting software',
 'accounts',
 'accounts deaths',
 'accounts easier',
 'accounts former',
 'accounts gets',
 'accounts glossed',
 'accounts history',
 'accounts macs',
 'accounts reason',
 'accounts supplement',
 'accoustic',
 'accoustic life',
 'accpetance',
 'accpetance mail',
 'accross',
 'accross floor',
 'accrue',
 'accrue taxes',
 'accudent',
 'accudent later',
 'accumulated',
 'accumulated credit',
 'accumulated two',
 'accumulated wasted',
 'accuracy',
 'accuracy depending',
 'accuracy information',
 'accuracy mean',
 'accuracy one',
 'accurate',
 'accurate definition',
 'accurate far',
 'accurate find',
 'accurate make',
 'accurate numbers',
 'accurate party',
 'accurately',
 'accurately pathetic',
 'accusations',
 'accusations seem',
 'accused',
 'accused believe',
 'accused embezzling',
 'accused huh',
 'accused julius',
 'accused spoiler',
 'accused stretching',
 'accuses',
 'accuses justice',
 'accusing',
 'accusing got',
 'accusing mr',
 'ace',
 'ace ass',
 'ace bandages',
 'acepto',
 'acepto se',
 'acerco',
 'acerco la',
 'ache',
 'ache ache',
 'ache bled',
 'ache get',
 'ache pain',
 'ache really',
 'ache tell',
 'acheive',
 'acheive aims',
 'aches',
 'aches early',
 'aches horrible',
 'aches nausea',
 'aches smell',
 'achieve',
 'achieve healing',
 'achieve something',
 'achieve unless',
 'achieved',
 'achieved goal',
 'achieved program',
 'achieved simply',
 'achieved success',
 'achieved variety',
 'achievement',
 'achievement grateful',
 'achievements',
 'achievements made',
 'aching',
 'aching feet',
 'aching move',
 'aching tired',
 'achtung',
 'achtung ichli',
 'acid',
 'acid bite',
 'acid chickens',
 'acid corrosive',
 'acid free',
 'acid rain',
 'acid uranium',
 'ack',
 'ack anyway',
 'ack cursed',
 'ack easily',
 'ack feeling',
 'ack going',
 'ack hate',
 'ack microsoft',
 'ack plus',
 'ack sort',
 'ack weird',
 'acknowledge',
 'acknowledge always',
 'acknowledge sounds',
 'acknowledged',
 'acknowledged bigots',
 'acknowledged course',
 'acknowledged mostly',
 'acknowledged suv',
 'acknowledged terrorist',
 'acknowledgement',
 'acknowledgement scifi',
 'acknowledgement someone',
 'acknowledging',
 'acknowledging concerns',
 'acknowledging farce',
 'acknowledging mutual',
 'acknowledging one',
 'acland',
 'acland street',
 'aclu',
 'aclu getting',
 'aclu kids',
 'aclu org',
 'aclu would',
 'acne',
 'acne skin',
 'acoustic',
 'acoustic singalongs',
 'acquaintances',
 'acquaintances best',
 'acquaintances eons',
 'acquainted',
 'acquainted basically',
 'acquire',
 'acquire antidote',
 'acquire infantry',
 'acquired',
 'acquired bottle',
 'acquired enriched',
 'acquired popcorn',
 'acquired proof',
 'acquired stuffed',
 'acquisition',
 'acquisition certain',
 'acquisition etc',
 'acquisitions',
 'acquisitions clothes',
 'acres',
 'acres cost',
 'acres land',
 'across',
 'across abnormal',
 'across ad',
 'across addendum',
 'across aisle',
 'across america',
 'across board',
 'across bridge',
 'across country',
 'across daily',
 'across day',
 'across desert',
 'across disconcerting',
 'across europe',
 'across face',
 'across front',
 'across ground',
 'across hall',
 'across insted',
 'across interesting',
 'across jump',
 'across land',
 'across lawn',
 'across length',
 'across little',
 'across maybe',
 'across message',
 'across middle',
 'across miserable',
 'across notebook',
 'across ocean',
 'across painted',
 'across picture',
 'across piece',
 'across plexiglas',
 'across pool',
 'across reading',
 'across road',
 'across room',
 'across somewhat',
 'across street',
 'across stuff',
 'across table',
 'across theatre',
 'across town',
 'across train',
 'across uneven',
 'across urllink',
 'across via',
 'across water',
 'across waters',
 'across website',
 'across yard',
 'across years',
 'acrosse',
 'acrosse table',
 'acs',
 'acs mgs',
 'act',
 'act abandon',
 'act among',
 'act anyway',
 'act around',
 'act balancing',
 'act become',
 'act broke',
 'act certain',
 'act consider',
 'act cute',
 'act dead',
 'act differently',
 'act disconnect',
 'act etc',
 'act first',
 'act general',
 'act get',
 'act ghetto',
 'act good',
 'act hatred',
 'act interests',
 'act like',
 'act listening',
 'act loneliness',
 'act much',
 'act obtain',
 'act ordinary',
 'act porn',
 'act righteous',
 'act satisfy',
 'act see',
 'act sexism',
 'act situation',
 'act take',
 'act though',
 'act thought',
 'act together',
 'act tough',
 'act truth',
 'act voluntarily',
 'act want',
 'act watch',
 'act way',
 'act wonder',
 'act yesterday',
 'actaully',
 'actaully gave',
 'acted',
 'acted heard',
 'acted unprofessoinal',
 'acted way',
 'acting',
 'acting although',
 'acting btw',
 'acting character',
 'acting choppy',
 'acting cute',
 'acting ever',
 'acting funny',
 'acting good',
 'acting lifestyle',
 'acting like',
 'acting modeling',
 'acting performance',
 'acting premature',
 'acting sparkles',
 'acting trying',
 'acting white',
 'acting works',
 'acting young',
 'action',
 'action action',
 'action arranged',
 'action current',
 'action extravaganza',
 'action films',
 'action firestone',
 'action hand',
 'action initial',
 'action iraq',
 'action joan',
 'action jovial',
 'action killing',
 'action little',
 'action longer',
 'action made',
 'action master',
 'action necessary',
 'action need',
 'action needs',
 'action others',
 'action photos',
 'action really',
 'action saddest',
 'action scenes',
 'action see',
 'action sports',
 'action start',
 'action suggesting',
 'action suit',
 'action well',
 'action without',
 'action yay',
 'action yeah',
 'action year',
 'action young',
 'actions',
 'actions air',
 'actions bush',
 'actions crime',
 'actions dont',
 'actions effects',
 'actions endanger',
 'actions may',
 'actions ok',
 'actions perform',
 'actions society',
 'actions terrorists',
 'actions toward',
 'activated',
 'activated scares',
 'activated th',
 'activated way',
 ...]

In [27]:
X_train_dtm = toNumeric.fit_transform(X_train)
X_test_dtm = toNumeric.transform(X_test)

In [28]:
toNumeric.get_feature_names()[:5]

['aa', 'aa anger', 'aa compared', 'aa nice', 'aaa']

In [29]:
X_train_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [30]:
X_test_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

**6. Create a dictionary to get the count of every label i.e. the key will be label name and value will be the
total count of the label. Check below image for reference (5 points)**

In [31]:
df.head()

,text,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [32]:
label_counts = dict()

for labels in df.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label] += 1
        else:
            label_counts[label] = 1

In [33]:
label_counts

{'male': 2272,
 '15': 299,
 'Student': 403,
 'Leo': 55,
 '33': 94,
 'InvestmentBanking': 70,
 'Aquarius': 286,
 'female': 728,
 '14': 74,
 'indUnk': 452,
 'Aries': 1699,
 '25': 110,
 'Capricorn': 77,
 '17': 147,
 'Gemini': 21,
 '23': 93,
 'Non-Profit': 46,
 'Cancer': 76,
 'Banking': 16,
 '37': 19,
 'Sagittarius': 113,
 '26': 43,
 '24': 334,
 'Scorpio': 243,
 '27': 86,
 'Education': 118,
 '45': 14,
 'Engineering': 119,
 'Libra': 313,
 'Science': 33,
 '34': 6,
 '41': 14,
 'Communications-Media': 14,
 'BusinessServices': 21,
 'Sports-Recreation': 75,
 'Virgo': 39,
 'Taurus': 76,
 'Arts': 2,
 'Pisces': 2,
 '44': 3,
 '16': 25,
 'Internet': 20,
 'Museums-Libraries': 2,
 'Accounting': 2,
 '39': 32,
 '35': 1607,
 'Technology': 1607}

In [34]:
label_counts.keys()

dict_keys(['male', '15', 'Student', 'Leo', '33', 'InvestmentBanking', 'Aquarius', 'female', '14', 'indUnk', 'Aries', '25', 'Capricorn', '17', 'Gemini', '23', 'Non-Profit', 'Cancer', 'Banking', '37', 'Sagittarius', '26', '24', 'Scorpio', '27', 'Education', '45', 'Engineering', 'Libra', 'Science', '34', '41', 'Communications-Media', 'BusinessServices', 'Sports-Recreation', 'Virgo', 'Taurus', 'Arts', 'Pisces', '44', '16', 'Internet', 'Museums-Libraries', 'Accounting', '39', '35', 'Technology'])

**7. Transform the labels - (7.5 points)**

As we have noticed before, in this task each example can have multiple tags. To deal with such kind of
prediction, we need to transform labels in a binary form and the prediction will be a mask of 0s and 1s.
For this purpose, it is convenient to use MultiLabelBinarizer from sklearn

a. Convert your train and test labels using MultiLabelBinarizer

In [35]:
from sklearn.preprocessing import MultiLabelBinarizer

In [36]:
mlb = MultiLabelBinarizer(classes=sorted(label_counts.keys()))
y_train = mlb.fit_transform(y_train)
y_test = mlb.transform(y_test)

In [37]:
y_train

array([[0, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [38]:
mlb.classes_

array(['14', '15', '16', '17', '23', '24', '25', '26', '27', '33', '34',
       '35', '37', '39', '41', '44', '45', 'Accounting', 'Aquarius',
       'Aries', 'Arts', 'Banking', 'BusinessServices', 'Cancer',
       'Capricorn', 'Communications-Media', 'Education', 'Engineering',
       'Gemini', 'Internet', 'InvestmentBanking', 'Leo', 'Libra',
       'Museums-Libraries', 'Non-Profit', 'Pisces', 'Sagittarius',
       'Science', 'Scorpio', 'Sports-Recreation', 'Student', 'Taurus',
       'Technology', 'Virgo', 'female', 'indUnk', 'male'], dtype=object)

**8. Choose a classifier - (5 points)**

In this task, we suggest using the One-vs-Rest approach, which is implemented in OneVsRestClassifier
class. In this approach k classifiers (= number of tags) are trained. As a basic classifier, use
LogisticRegression. It is one of the simplest methods, but often it performs good enough in text
classification tasks. It might take some time because the number of classifiers to train is large.

a. Use a linear classifier of your choice, wrap it up in OneVsRestClassifier to train it on every label

b. As One-vs-Rest approach might not have been discussed in the sessions, we are providing you
with the code for that

In [39]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

In [40]:
clf.fit(X_train_dtm,y_train)

OneVsRestClassifier(estimator=LogisticRegression())

**9. Fit the classifier, make predictions and get the accuracy (5 points)**

a. Print the following

i. Accuracy score

ii. F1 score

iii. Average precision score

iv. Average recall score

v. Tip: Make sure you are familiar with all of them. How would you expect the things to
work for the multi-label scenario? Read about micro/macro/weighted averaging

In [41]:
y_pred = clf.predict(X_test_dtm)

In [42]:
y_pred

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [43]:
y_pred_inversed = mlb.inverse_transform(y_pred)
y_test_inversed = mlb.inverse_transform(y_test)

In [44]:
for i in range(5):
    print('Title:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        X_test[i],
        ','.join(y_test_inversed[i]),
        ','.join(y_pred_inversed[i])
    ))

Title:	love food network encompasses iron chef rules enjoy almost anything run e law order third watch murder wrote magnum pi l law also adore st elsewhere think show bravo love matlock really deal diagnosis murder tips cheesy scales much also love remington steele scarecrow mrs king bruce boxleitner sp pierce brosnan double dose hot course columbo rocks love man annoys suspects confessing also really loved cheesy mountie show due south rerunning tnt sure think right jesus watch way much television
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	alpha omega returned alpha camp weekend thoroughly enjoyable pretty far melbie though upper plenty far hardly melway map eep place fantastic dorm rooms toilet really neat clean esp bathroom amenities needed great food plus real fireplace could ask spent n enjoying company learning holy spirit part alpha course taking church sorta like foundation back basics christianity kind thing real good stuff eg great time probably coz serious male bonding going bunch like minded noisy guys sitting around lunch talking cars n stuff blokey made friend alan promise never turn guys sitting around congratulating masters universe said guarantees sigh happened sensitive new age guys one highlight learning mafia really interesting game someone gets killed gotta find think murderer meets bluff meets survivor get gist mafiosi doctor spy rest civilians people plus game master see heated debates everyone tried defend prevent thought compadres voted layered game never know bluffing fun also interesting coz got group christians essentially lying hmmm hehe anyways great experience definitely chance right slogging n trying keep essay schedule cheerios
True labels:	24,Scorpio,female,indUnk
Predicted labels:	24,Scorpio,female,indUnk


Title:	santi santi dear sweet child live help unfortunate merfolk like poor souls one else turn admit past nasty kidding called well witch find nowadays mended ways repented seen light made switch true yes fortunately know little magic talent always possessed lately please laugh use behalf miserable lonely depressed pathetic poor unfortunate souls pain need one longing thinner one wants get girl help yes indeed poor unfortunate souls sad true come flocking cauldron crying spells ursula please help yes happened twice someone pay price afraid rake em cross coals yes odd complaint whole saint poor unfortunate souls come poor unfortunate soul go ahead make choice busy woman got day cost much voice poor unfortunate soul sad true want cross bridge sweet got pay toll take gulp take breath go ahead sign scroll poor unfortunate soul little mermaid
True labels:	15,Aquarius,Student,female
Predicted labels:	male


Title:	report urllink espn com today says ricky williams would failed drug test would played year serving game suspension means tested positive twice check pro pot quotes fyi ricky williams nbsp long bout depression diagonsed social anxiety disorder nbsp takes paxil marijuana plant nbsp nbsp marijuana times better paxil said dolphins head coach dave wannstedt knew nothing wannstedt said totally surprised shocked apparently actually urllink gotten away smoking weed job last two years drinking masking agent fools scientists urine tests forgot take masking nbsp supplement year nbsp year round drug nbsp tests dolphins suprised guy smokes pot nbsp friends lenny kravitz got dreadlocks admires life bob marley nbsp nbsp ever watched guy lunch line nbsp nbsp masking agent used fool nfl ever since retirement given tons free publicity urine luck nbsp one greatest names product ever nbsp
True labels:	23,Taurus,indUnk,male
Predicted labels:	indUnk,male


Title:	embarking hour time way flinders mornington peninsula area overnight camp retreat intensive rest community going equipped tools teaching bonds friendship weekend carry us tide turmoil everchanging world got frantic sms mum today read disbelievingly called back immediately hear distress voice sounded like crying rightly suppose found closest aunt dad side declared hate word brain dead brain dead almost cliche like sufficiently melodramatic phenomena constantly portrayed daytime soap opera channel serial life support right full details suffice say shocked idea coming cancer remission awhile never known hospital last couple months sudden bringing name always conjured images love warmth fantastic food always enjoy place cny though ever saw trips home lunar new year period maintained certain sense closeness feel anticipated meeting sometime trip back december even cny possible wedding april know feel close yet distant worried anxious helpless yet quite believing quite coming terms maybe mum message wrong maybe might brain dead kinda thing mum often leans towards theatrics run family wait see maybe wrong hopefully prayerfully uncomprehendingly
True labels:	24,Scorpio,female,indUnk
Predicted labels:	female

In [45]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def print_evaluation_scores(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: ', f1_score(y_val, predicted, average='micro'))
    print('Average precision score: ', average_precision_score(y_val, predicted, average='micro'))
    print('Average recall score: ', recall_score(y_val, predicted, average='micro'))

In [46]:
print_evaluation_scores(y_test, y_pred)

Accuracy score:  0.54
F1 score:  0.735632183908046
Average precision score:  0.579383667766852
Average recall score:  0.6533333333333333

In [47]:
from sklearn.metrics import classification_report

In [48]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.07      0.12        15
           1       0.96      0.32      0.48        68
           2       0.00      0.00      0.00         9
           3       1.00      0.23      0.37        35
           4       1.00      0.07      0.13        14
           5       0.92      0.40      0.56        60
           6       0.00      0.00      0.00        30
           7       0.00      0.00      0.00        11
           8       0.00      0.00      0.00        11
           9       1.00      0.25      0.40        24
          10       0.00      0.00      0.00         2
          11       0.84      0.94      0.89       309
          12       0.00      0.00      0.00         3
          13       0.00      0.00      0.00         4
          14       0.00      0.00      0.00         4
          15       0.00      0.00      0.00         0
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00         0
          18       0.93      0.22      0.36        58
          19       0.83      0.92      0.87       330
          20       0.00      0.00      0.00         1
          21       0.00      0.00      0.00         4
          22       1.00      0.20      0.33         5
          23       1.00      0.05      0.10        19
          24       1.00      0.41      0.58        17
          25       0.00      0.00      0.00         4
          26       0.00      0.00      0.00        15
          27       1.00      0.31      0.48        16
          28       0.00      0.00      0.00         4
          29       0.00      0.00      0.00         6
          30       1.00      0.33      0.50        18
          31       0.00      0.00      0.00        13
          32       0.82      0.31      0.45        58
          33       0.00      0.00      0.00         2
          34       0.00      0.00      0.00        11
          35       0.00      0.00      0.00         1
          36       1.00      0.08      0.15        24
          37       0.00      0.00      0.00         9
          38       0.92      0.24      0.38        50
          39       1.00      0.44      0.61        16
          40       0.81      0.23      0.36        90
          41       0.00      0.00      0.00        19
          42       0.84      0.94      0.89       309
          43       0.00      0.00      0.00         7
          44       0.77      0.47      0.58       149
          45       0.89      0.33      0.48        94
          46       0.84      0.95      0.90       451

   micro avg       0.84      0.65      0.74      2400
   macro avg       0.45      0.19      0.23      2400
weighted avg       0.80      0.65      0.67      2400
 samples avg       0.81      0.65      0.69      2400

In [49]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def display_metrics_micro(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: Micro', f1_score(y_val, predicted, average='micro'))
    print('Average precision score: Micro', average_precision_score(y_val, predicted, average='micro'))
    print('Average recall score: Micro', recall_score(y_val, predicted, average='micro'))
    
    
def display_metrics_macro(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: Macro', f1_score(y_val, predicted, average='macro'))
    print('Average recall score: MAcro', recall_score(y_val, predicted, average='macro'))
    
def display_metrics_weighted(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: weighted', f1_score(y_val, predicted, average='weighted'))
    print('Average precision score: weighted', average_precision_score(y_val, predicted, average='weighted'))
    print('Average recall score: weighted', recall_score(y_val, predicted, average='weighted'))

In [50]:
display_metrics_micro(y_test,y_pred)

Accuracy score:  0.54
F1 score: Micro 0.735632183908046
Average precision score: Micro 0.579383667766852
Average recall score: Micro 0.6533333333333333

In [51]:
display_metrics_macro(y_test,y_pred)

Accuracy score:  0.54
F1 score: Macro 0.23362146939402045
Average recall score: MAcro 0.18562280828959574

In [52]:
display_metrics_weighted(y_test,y_pred)

Accuracy score:  0.54
F1 score: weighted 0.6686151046086233
Average precision score: weighted 0.6013572937816467
Average recall score: weighted 0.6533333333333333

**10. Print true label and predicted label for any five examples (7.5 points)**

In [53]:
y_test_inversed[:5]

[('35', 'Aries', 'Technology', 'male'),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('15', 'Aquarius', 'Student', 'female'),
 ('23', 'Taurus', 'indUnk', 'male'),
 ('24', 'Scorpio', 'female', 'indUnk')]

In [54]:
y_pred_inversed[:5]

[('35', 'Aries', 'Technology', 'male'),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('male',),
 ('indUnk', 'male'),
 ('female',)]

In [63]:
import random 

def print_predicted(y_predicted, y_test = y_test , n = 5):
    j = []
    for i in range(n):
        j.append(random.randint(0, len(y_test)))
    print(j)
                 
    for k in j:
        print(mlb.inverse_transform(y_predicted)[k])
        print(mlb.inverse_transform(y_test)[k])
        print("-----------------------------------")

In [64]:
print_predicted(y_predicted=y_pred, y_test = y_test , n = 5)

[95, 449, 13, 369, 270]
('35', 'Aries', 'Technology', 'male')
('35', 'Aries', 'Technology', 'male')
-----------------------------------
('female', 'indUnk')
('24', 'Scorpio', 'female', 'indUnk')
-----------------------------------
('15', 'Student', 'female')
('15', 'Aquarius', 'Student', 'male')
-----------------------------------
('male',)
('17', 'Sagittarius', 'Student', 'male')
-----------------------------------
('male',)
('41', 'Communications-Media', 'Libra', 'male')
-----------------------------------